
/* Cambia i colori come vuoi per la parte di aderente*/
:root {
    --COLORE1: #112D4E;
    --COLORE2: #3F72AF;
    --COLORE3: #DBE2EF;
    --COLORE4: #F9F7F7;
}
body {
    padding-top: 200px;
    background: var(--COLORE4);
    /*font-family: 'Comic Sans MS', sans-serif;*/
}
.intestazione {
    background-color: var(--COLORE4);
}
footer {
    background-color: var(--COLORE3);
}
.menu2 {
    padding-bottom: 1%;
    width: 100%;
}

.menu2 nav {
    display: flex;
}

.menu2 button {
    border-radius: 5px;
    border: 2px solid var(--COLORE1);
    background-color: transparent;
    opacity: 0.7;
    margin-inline: 1%;
    padding: 1%;
    width: 100%;
}
.menu2 button:hover {
    background-color: darkgreen;
}
.menu {
    background-color: var(--COLORE1);
}
.menu a{
    color: var(--COLORE4);
}
.menu a:hover{
    background-color: var(--COLORE4);
    color: var(--COLORE1);
}
.menu .dropdown-content {
    background-color: var(--COLORE1);
}
input [type = submit] {/*TODO sistemare il bottone cancella iscrizione*/
}
table{
    border: var(--COLORE2) solid 1px;
    width: fit-content;
    border-collapse: collapse;
}
tr{
    border: var(--COLORE2) solid 2px;
    border-collapse: collapse;
    margin: 15%;
    padding: 15%;
}
th {
    border: var(--COLORE2)  solid 2px;
    border-collapse: collapse;
    padding: 5%;
    width: 200px;
    word-wrap: break-word;
}

.containerAmministratore {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 20px;
    min-height: 30vw;
}
form {
    margin-left: 10vw;
    margin-right: 10vw;
}

/*///////////////////////////////////////////////////GRAFICI//////////////////////////////////////////////////////////*/
.highcharts-figure,
.highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

#container {
    height: 400px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
/*--------------------------------------------------------------------------------------------------------------------*/
#GraficoVisite {
    height: 400px;
}

.highcharts-figure{
    /*TODO quando si potra lavorare sugli stili bisogna fare si che sia delle dimensioni adeguate*/
    /*max-width: 800px;*/
    margin: 1em auto;
}
.highcharts-data-table table {
    min-width: 80%;
    /*max-width: 800px;*/
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

/*///////////////////////////////////////////////////GRAFICI//////////////////////////////////////////////////////////*/