.pieDiPagina {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

    font-size: 10px;
}

footer {
    background-color: #FFB3BF;
    border-top: solid 2px black;
    width: 100%;
    text-align: center;
}

/*

TODO
verificare footer: posizionamento, colore e bordo
 */