/* File di stile per l'intestazione e la toolbar. */
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');
/* Logo e scritta presente in tutte le pagine. */
.intestazione {
    background: linear-gradient(to top, #FFB3BF, #ffffff);


    /* Fissiamo l'intestazione on top*/
    position: fixed;
    top: 0;
    left: 0;
    /* Width allarga l'elemento per tutta la viewport */
    width: 100%;
    /* Z-index alto in modo tale che stia sopra agli altri elementi */
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Darumadrop One', cursive;
    font-size: 16px;
}
/* logo intestazione */
.logo {
    max-width: 60px;
    height: auto;
}
/* logo intestazione a sinistra uso transform per specchiarlo rispetto a destra*/
#logoLeft {
    transform: scale(-1);
}

/* Menu presente in tutte le pagine. */
.menu {
    /* box-sizing per includere padding e border nelle dimensioni dell'elemento
        in questo modo ho misurato la dimensione dell'intestazione con chrome dev tools
        e ho bloccato esattamante sotto il menu il resto è come per intestazione
    */
    box-sizing: border-box;
    position: fixed;
    top: 88.875px;
    left: 0;
    width: 100%;
    z-index: 9999;

    /* flex ci permette di posizionare gli elementi rispetto agli assi row (main default) e column (cross ) */
    display: flex;
    /* posizionamento rispetto al main axis */
    justify-content: center;
    background-color: #FFB3BF;
    /* Nel caso il display sia piccolo con flex-wrap mando a capo gli elementi */
    flex-wrap: wrap;
    /* allinea il wrap rispetto al cross axis  */
    align-content: flex-start;

    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
}
/* Selezione dei link del menu*/
.menu a {
    /*display: flex;*/
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* per cambiare il colore quando passo sopra con il mouse*/
.menu a:hover {
    background-color: #FFE6F2;
    color: #000;
}

.menu .dropdown {
    /*
        da capire perché togliendo flex attività va fuori sede
        non dovrebbe ereditarla in automatico da menu???
    */
    display: flex;
    position: relative;
}

.menu .dropdown-content {
    display: none;
    /*
        uso position absolute in modo tale che il menu che esce prenda come posizione base
        quella del padre partendo alla fine rispetto al asse y (top: 100%) e dalla stessa
        posizione rispetto all'asse delle x (left: 0)
    */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #FFB3BF;
    /* larghezza minima da regolare quando metteremo il nome delle attività vere*/
    min-width: 160px;
    box-shadow: 0 8px 16px 10px rgba(0,0,0,0.2);
    /* se per qualche ragione il menu a tendina non si vede basta fixare lo z-index */
    /*z-index: 1;*/
}

/* Per rendere visibile il menu quando passo sopra attività con il mouse */
.menu .dropdown:hover .dropdown-content {
    display: block;
}

/* formattazione menu a tendina */
.menu .dropdown-content a {
    /**/
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

