
/* Cambia i colori come vuoi per la parte di aderente*/
:root {
    --COLORE1: #393E46;         /**/
    --COLORE2: #6D9886;         /**/
    --COLORE3: #F2E7D5;         /* questi colori sono i colori che vengono visualizzati dai simpatizzanti*/
    --COLORE4: #F7F7F7;         /**/
    --COLORE4TRANSP: #F7F7F7e6; /**/
}
.menu2 {
    padding-bottom: 1%;
    width: 100%;
}

.menu2 nav {
    display: flex;
}

.menu2 button {
    border-radius: 5px;
    border: 2px solid var(--COLORE1);
    background-color: transparent;
    opacity: 0.7;
    margin-inline: 1%;
    padding: 1%;
    width: 100%;
}
.menu2 button:hover {
    background-color: var(--COLORE2);
    color: var(--COLORE4);
}
#cancellaIscrizione{
    font-size: xx-large;
    font-weight: bolder;
    width: 100%;
    padding: 5%;
    color: red;
}
#cancellaIscrizione:hover {
    background-color: red;
    color: black;
}
table{
    border: var(--COLORE2) solid 1px;
    width: fit-content;
    border-collapse: collapse;
}
tr{
    border: var(--COLORE2) solid 2px;
    border-collapse: collapse;
    margin: 15%;
    padding: 15%;
}
th {
    border: var(--COLORE2)  solid 2px;
    border-collapse: collapse;
    padding: 5%;
    width: 200px;
    word-wrap: break-word;
}

.containerSimpatizzante {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 30vw;
    padding-bottom: 5%;
}
.simpatizzanteImmaginiAttivita {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.simpatizzanteImmaginiAttivita img {
    display: flex;
    max-width: 600px;
    height: auto;
    width: 100%;
}
.simpatizzanteImgCheckAtt {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.simpatizzanteImgCheckAtt div {
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.simpatizzanteImgCheckAtt input {
    width: auto;
}

form{
    margin-left: 10vw;
    margin-right: 10vw;
}
#cancellaIscrizioneform {
    display: contents;
}