/* File di stile per tutte le parti pubbliche */

@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Raleway:wght@300&display=swap'); /* Importa raleway da google font */
body {
    padding-top: 150px;
    background: #FEE9FF;
    background: -moz-linear-gradient(45deg, #FEE9FF 0%, #FFE6F2 0%, #FFFFFF 100%);
    background: -webkit-linear-gradient(45deg, #FEE9FF 0%, #FFE6F2 0%, #FFFFFF 100%);
    background: linear-gradient(45deg, #FEE9FF 0%, #FFE6F2 0%, #ffffff 100%);
    font-family: 'Raleway', sans-serif;
}

textarea {
    background-color: #ffffff; /* rgba(254, 233, 255, 0);*/
    resize: none;
    border: 3px solid #A998A5;
}
input[type = text]{
    background-color: #ffffff; /*rgba(254, 233, 255, 0);*/
    border: 3px solid #A998A5;
}
input[type = submit]:hover{
    opacity: 0.8;
}
input[type = reset]:hover{
    opacity: 0.8;
}
form{
    alignment: center;
    justify-content: center;
}
input[type = submit] {
    background-color: #B6EAFA;
    border-radius: 20px;
    color: black;
    resize: none;
    width: 5%;
    height: 4%;
}
input[type = reset] {
    background-color: #ec7777;
    border-radius: 20px;
    color: black;
    resize: none;
    width: 5%;
    height: 4%;
}

.containerLogoDescrizione {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /*gap: 4em;*/
}
.containerFoto {
    /*padding: 1%;*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
/* Proprietà font per tutte le parti di descrizione. */
.containerDescrizione {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
}
#descrizioneHome {
    /*padding-left: 20%;*/
    /*padding-right: 20%;*/
    max-width: 400px;
    min-width: 300px;
}
#descrizioneChiSiamo {
    padding-left: 20%;
    padding-right: 20%;
}
/* Logo della home in parte alla descrizioneHome */
#logoHome {
    max-width: 250px;
    height: auto;
}

#imgAssociazione {
    max-width: 650px;
    height: auto;
}

#downloadLeaflet {
    display: flex;
    justify-content: center;
    padding: 2%;
}

.frasiInspiranti {
    /* Misure calcolate con chrome! */
    position: fixed;
    max-width: 250px;
    top: 132px;
    /* Scommentare se vogliamo le frasi ispiranti in centro */
    /*left: 50%;*/
    /*transform: translate(-50%);*/
    padding: 1%;

    box-sizing: border-box;
    display: block;
    justify-content: center;
    font-family: 'Darumadrop One', cursive;
    background: linear-gradient(to bottom, #FFB3BF, transparent);
}

html {
    -webkit-text-size-adjust: 100%;
}
