/* File di stile per tutte le parti pubbliche */

@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Raleway:wght@300&display=swap'); /* Importa raleway da google font */
body {
    /* Spazio da lasciare per l'intestazione */
    padding-top: 200px;
    background: #FEE9FF;
    background: -moz-linear-gradient(45deg, #FEE9FF 0%, #FFE6F2 0%, #FFFFFF 100%);
    background: -webkit-linear-gradient(45deg, #FEE9FF 0%, #FFE6F2 0%, #FFFFFF 100%);
    background: linear-gradient(45deg, #FEE9FF 0%, #FFE6F2 0%, #ffffff 100%);
    font-family: 'Raleway', sans-serif;
}

select{
    background-color: #ffffff; /* rgba(254, 233, 255, 0);*/
    resize: none;
    border: 3px solid #A998A5;
}

textarea {
    background-color: #ffffff; /* rgba(254, 233, 255, 0);*/
    resize: none;
    border: 3px solid #A998A5;
}
span.alert{
    color: red;
    font-size: small;
}
span.requirements{
    font-size: xx-small;
}
input[type = text]{
    background-color: #ffffff; /*rgba(254, 233, 255, 0);*/
    border: 3px solid #A998A5;
}

input[type = tel]{
    background-color: #ffffff; /*rgba(254, 233, 255, 0);*/
    border: 3px solid #A998A5; /*TODO farlo funzionare o cambiare in number o di nuovo in text*/
}

input[type = password]{
    background-color: #ffffff; /*rgba(254, 233, 255, 0);*/
    border: 3px solid #A998A5;
}
input[type = date]{
    background-color: #ffffff; /*rgba(254, 233, 255, 0);*/
    border: 3px solid #A998A5;
}

input[type = submit]:hover{
    opacity: 0.8;
}

input[type = reset]:hover{
    opacity: 0.8;
}

form{
    text-align: center;
    margin: auto;
    width: fit-content;
}

input[type = submit] {
    background-color: #B6EAFA;
    border-radius: 20px;
    color: black;
    resize: none;
    min-width: 60px;
    min-height: 25px;
    width: 5%;
    height: 4%;
    margin-left: 4%;
}

input[type = reset] {
    background-color: #ec7777;
    border-radius: 20px;
    color: black;
    resize: none;
    min-width: 60px;
    min-height: 25px;
    width: 5%;
    height: 4%;
    margin-right: 4%;
}

.containerLogoDescrizione {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    /*gap: 4em;*/
}

.containerInvioConfermato {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 85%;
    /*gap: 4em;*/
}

.containerAttivita {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    margin: 5vw auto;
    align-items: center;
}
.containerAttivita img {
    max-width: 600px;
    height: auto;
    width: 100%;
}

.containerAttivita .testoImmagine {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #9b9b9b;
    opacity: 0.7;
    color: #ffffff;
    /*width: 100%;*/
    /*max-width: 600px;*/
    box-sizing: border-box;
    text-align: center;
}

.containerFoto {
    /*padding: 1%;*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Proprietà font per tutte le parti di descrizione. */
.containerDescrizione {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
}

#descrizioneHome {
    /*padding-left: 20%;*/
    /*padding-right: 20%;*/
    max-width: 400px;
    min-width: 300px;
    width: 90vw;
}

#descrizioneChiSiamo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 95vw;
    text-align: center;
}

/* Logo della home in parte alla descrizioneHome */
#logoHome {
    max-width: 250px;
    height: auto;
}

#imgAssociazione {
    max-width: 450px;
    height: auto;
    width: 90vw;
}

#downloadLeaflet {
    display: flex;
    justify-content: center;
    padding: 2%;
}

/**/

/* @todo con schermo piccolo le frasi vengono nascoste quando il menu wrappa
      usando media non va bene perché il menu wrappa con misure diverse a seconda della pagina?!
      in più su Brave non cambia mai posizione assoluta
*/
@media screen and (max-width: 538px){

    body {
        padding-top: 250px;
    }
    .sectionTesto {
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    .containerAttivita {
        text-align: center;
        padding-left: 1vw;
        padding-right: 1vw;
    }
}

html {
    -webkit-text-size-adjust: 100%;
}
