@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Raleway:wght@300&display=swap'); /* Grazie a queste variabili è possibile modificare i colori in maniera semplice*/
:root {
    --COLORE1: #000000;         /**/
    --COLORE2: #31372B;         /**/
    --COLORE3: #FFB3BF;         /*questi colori sono i colori che vengono*/
    --COLORE4: #fee9ff;         /*visualizzati da chi non è loggato*/
    --COLORE5: #FFE6F2;         /**/
    --COLORE4TRANSP: #fee9ffe6; /**/

    --BORDERROSA: #A998A5;
}

/*#########################################################################################*/
/*###################################---BODY---############################################*/
/*#########################################################################################*/

/* Importa raleway da google font */
body {
    /* Spazio da lasciare per l'intestazione */
    padding-top: 200px;
    background: var(--COLORE4);
    /*background: -moz-linear-gradient(45deg, #FEE9FF 0%, #FFE6F2 0%, #FFFFFF 100%);*/
    /*background: -webkit-linear-gradient(45deg, #FEE9FF 0%, #FFE6F2 0%, #FFFFFF 100%);*/
    background: linear-gradient(45deg, var(--COLORE4) 0%, var(--COLORE5) 0%, white 100%);
    font-family: 'Raleway', sans-serif;
}

select{
    background-color: white; /* rgba(254, 233, 255, 0);*/
    resize: none;
    border: 3px solid var(--BORDERROSA);
}

textarea {
    background-color: white; /* rgba(254, 233, 255, 0);*/
    resize: none;
    border: 3px solid var(--BORDERROSA);
}
span.alert{
    color: red;
    font-size: small;
}
span.requirements{
    font-size: x-small;
}
input, #comboBox{
    background-color: transparent; /*rgba(254, 233, 255, 0);*/
    border: none;
    border-bottom: 3px solid var(--COLORE2);
    width: 50vw;
    /*border-radius: 6px;*/
}


form{
    text-align: center;
    margin-left: 20vw;
    margin-right: 20vw;
}

input[type = submit], input[type = reset ] {
    border-radius: 12px;
    border: 2px solid black;
    background-color: transparent;
    opacity: 0.7;
    width: 80px;

}
input[type = submit] {
    color: darkgreen;
}
input[type = reset] {
    color: darkred;
}
input[type = submit]:hover, input[type = reset ]:hover, input[type = submit]:focus, input[type = reset ]:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
input[type = submit]:hover, input[type = submit]:focus {
    background-color: darkgreen;
}
input[type = reset]:hover, input[type = reset]:focus {
    background-color: darkred;
}

/** FORM PER PAGINA CONTATTI, SIGN IN E LOG IN **/
.formContSignLog {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20vw;
    margin-left: 20vw;
    font-size: 18px;
    text-align: center;
}
.inputAndLabel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}
.inputAndLabel input {
    height: 40px;
}
#submitReset {
    justify-content: space-evenly;
}
#comboBoxLabel {
    margin-bottom: 5px;
}
#divLogin {
    justify-content: space-evenly;
    padding-bottom: 15vw;
    min-height: 48%;
}
.containerLogoDescrizione {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: 30%;
}

.containerInvioConfermato {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 85%;
}

.containerContatti {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85%;
}


.containerAttivita {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    margin: 5vw auto;
    align-items: center;
}
.containerAttivita img {
    max-width: 600px;
    height: auto;
    width: 100%;
}

.containerAttivita .testoImmagine {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #9b9b9b;
    opacity: 0.7;
    color: white;
    /*width: 100%;*/
    /*max-width: 600px;*/
    box-sizing: border-box;
    text-align: center;
}

/* style per attività e aderente per le immagini*/
.im1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


div.im1 figure img {
    width: 300px;
    height: auto;
    max-height: 300px;
    /*z-index:1;*/
}

div.gallery figcaption {
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin: auto;
}

a.linkImg > img {
    border: 1px solid transparent;
}

a.linkImg:hover {
    opacity: 0.7;
    cursor: pointer;
}

a.linkImg:hover > img {
    border: 1px solid black;
}

a.linkImg:hover > .textAttivita {
    background-color: var(--COLORE4TRANSP);
    border-radius: 12px;
    opacity: 1;
    color: black;
}

.sectionTesto, .sectionTitolo {
    display: flex;
    align-items: center;
    width: 60vw;
}
.sectionTestoChiSiamo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
}
.sectionTitolo {
    flex-direction: column;
}

.textAttivita {
    color: black;
    font-size: 20px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.textAttivita:hover {
    opacity: 1;
}


.containerFoto {
    /*padding: 1%;*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Proprietà font per tutte le parti di descrizione. */
.containerDescrizione {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
}

#descrizioneHome {
    /*padding-left: 20%;*/
    /*padding-right: 20%;*/
    max-width: 400px;
    min-width: 300px;
    width: 90vw;
}

#descrizioneChiSiamo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 95vw;
    text-align: center;
}

/* Logo della home in parte alla descrizioneHome */
#logoHome {
    max-width: 250px;
    height: auto;
}

#imgAssociazione {
    max-width: 450px;
    height: auto;
    width: 90vw;
}

#downloadLeaflet {
    display: flex;
    justify-content: center;
    padding: 2%;
}

@media screen and (max-width: 538px){

    body {
        padding-top: 250px;
    }
    .sectionTesto {
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        text-align: center;
    }
    .containerAttivita {
        text-align: center;
        padding-left: 1vw;
        padding-right: 1vw;
    }
}

html {
    -webkit-text-size-adjust: 100%;
}
/*#########################################################################################*/
/*###############################---FRASI-INSPIRANTI---####################################*/
/*#########################################################################################*/

#fraseInMostra {
    box-sizing: border-box;
}
.fade-in {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-in-out
}
.frasiInspiranti {

    /* Misure calcolate con il browser nellla sezione computed! */
    position: fixed;

    /* Commentare la riga sotto per metterlo a sinistra*/
    width: 100%;
    /* Commentare la riga sopra per metterlo a sinistra*/
    top: 132px;
    left: 0;
    padding: 1%;
    /* Scommentare se vogliamo le frasi ispiranti in centro */
    /*left: 50%;*/
    /*transform: translate(-50%);*/
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Darumadrop One', cursive;
    /*background: linear-gradient(to bottom, #31372b, transparent);*/
    background-color: var(--COLORE2);
    text-align: center;
    color: var(--COLORE3);
    height: 50px;
    z-index: 9998;
}
@media screen and (max-width: 538px) {
    .frasiInspiranti {
        top: 175px;
        height: 60px;
    }
    .frasiInspiranti i {
        vertical-align: central;
    }
}


/*#########################################################################################*/
/*###################################---INTESTAZIONE---####################################*/
/*#########################################################################################*/

/* File di stile per l'intestazione e la toolbar. */
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap'); /*TODO qui non credo faccia nulla, bisogna o toglierlo o metterlo in cima*/
/* Logo e scritta presente in tutte le pagine. */
.intestazione {
    /* Rosa non ci piaceva! */
    /*background: linear-gradient(to top, #FFB3BF, #ffffff);*/

    /* Verde ebete forse?!*/
    /*background: linear-gradient(to top, #31372b, #ffffff);*/

    background: var(--COLORE3);

    /* Fissiamo l'intestazione on top*/
    position: fixed;
    top: 0;
    left: 0;
    /* Width allarga l'elemento per tutta la viewport */
    width: 100%;
    /* Z-index alto in modo tale che stia sopra agli altri elementi */
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Darumadrop One', cursive;
    font-size: 16px;
}
/* logo intestazione */
.logo {
    max-width: 60px;
    height: auto;
}
/* logo intestazione a sinistra uso transform per specchiarlo rispetto a destra*/
#logoLeft {
    transform: scale(-1);
}

/* Menu presente in tutte le pagine. */
.menu {
    /* box-sizing per includere padding e border nelle dimensioni dell'elemento
        in questo modo ho misurato la dimensione dell'intestazione con chrome dev tools
        e ho bloccato esattamante sotto il menu il resto è come per intestazione
    */
    box-sizing: border-box;
    position: fixed;
    top: 88px;
    left: 0;
    width: 100%;
    z-index: 9999;

    /* flex ci permette di posizionare gli elementi rispetto agli assi row (main default) e column (cross ) */
    display: flex;
    /* posizionamento rispetto al main axis */
    justify-content: center;
    background-color: var(--COLORE1);
    /* Nel caso il display sia piccolo con flex-wrap mando a capo gli elementi */
    flex-wrap: wrap;
    /* allinea il wrap rispetto al cross axis  */
    align-content: flex-start;

    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: var(--COLORE4);
    font-weight: 700;
}
/* Selezione dei link del menu*/
.menu a {
    /*display: flex;*/
    color: var(--COLORE4);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* per cambiare il colore quando passo sopra con il mouse*/
.menu a:hover {
    background-color: var(--COLORE4);
    color: var(--COLORE1);
}

.menu .dropdown {
    /*
        da capire perché togliendo flex attività va fuori sede
        non dovrebbe ereditarla in automatico da menu???
    */
    display: flex;
    position: relative;
}

.menu .dropdown-content {
    display: none;
    /*
        uso position absolute in modo tale che il menu che esce prenda come posizione base
        quella del padre partendo alla fine rispetto al asse y (top: 100%) e dalla stessa
        posizione rispetto all'asse delle x (left: 0)
    */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--COLORE1);
    /* larghezza minima da regolare quando metteremo il nome delle attività vere*/
    min-width: 160px;
    box-shadow: 0 8px 16px 10px #00000033;
    /* se per qualche ragione il menu a tendina non si vede basta fixare lo z-index */
    /*z-index: 1;*/
}

/* Per rendere visibile il menu quando passo sopra attività con il mouse */
.menu .dropdown:hover .dropdown-content {
    display: block;
}

/* formattazione menu a tendina */
.menu .dropdown-content a {
    /**/
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/*#########################################################################################*/
/*###################################---FOOTER---##########################################*/
/*#########################################################################################*/

.pieDiPagina {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

    font-size: 10px;
}

footer {
    background-color: var(--COLORE3);
    border-top: solid 2px black;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0;
}

/*#########################################################################################*/
/*#############################---GALLERIA-CHI-SIAMO---####################################*/
/*#########################################################################################*/

/*Impostiamo:
 + di default l'immagine non visibile
 + l'animazione customizzata dal nome fade
 + la durata dell'animazione
 + la transizione*/
.singleImage {
    display: none;
    animation-name: fade;
    animation-duration: 1.5s;
    transition: 0.6s ease;
}


@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*Definiamo posizione, margini e larghezza massima del nostro slideshow*/

.collezioneDiImmagini {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/*Definiamo le proprietà dei bottoni per andare a destra e a sinistra scorrendo le immagini
Impostiamo anche cosa succede se ci siamo sopra col mouse*/

.next {
    right: 0;
}
.prev {
    left:0;
}

.prev, .next {
    background-color: var(--COLORE2);
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--COLORE3);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: #000000CC;
}

/*Per un eventuale didascalia dell'immagine*/

.textChiSiamo {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    display: none;
}

/*Per avere inforamzioni su che immagine stiamo guaurdando*/

.numbertext {
    color: var(--COLORE3);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: var(--COLORE2);
}

/*Per i puntini che dicono su che immagine siamo*/

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--COLORE2);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: var(--COLORE3);
}


.singleImage {
    width: 60vw;
}
/*Larghezza, lunghezza e allineamento dell'immagine*/

#descrizioneChiSiamo img {
    width: 100%;
    height: auto;
}

/*#########################################################################################*/
/*################################---INFO-COOKIES---#######################################*/
/*#########################################################################################*/

    /*  Per rendere opaco il background (preso da modal di w3school) */
.informativaCookies {
    /**/
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #00000066; /* Black w/ opacity */
}

/* posizionamento finestra cookies */
.infoCookies {
    background-color: var(--COLORE4);
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5%;
    border: 2px solid black;
    width: 50%; /* Could be more or less, depending on screen size */
}
.buttonCookies {
    border-radius: 12px;
    border: 2px solid var(--COLORE2);
    background-color: transparent;
    opacity: 0.7;
}
/*  */
.infoCookies button {
    font-size: 16px;
    font-weight: bold;
}

.infoCookies button:hover,
.infoCookies button:focus {
    color: black;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
}
#accetta {
    color: darkgreen;
}
#rifiuta {
    color: darkred;
}

#firma {
    font-family: 'Darumadrop One', cursive;
}